.x-container{

display : grid;
height : 500px;
grid-template-columns: auto auto auto;
background-color: #f32156;
padding: 10px;

}
.item-c{
background-color: rgba(229, 233, 170, 0.8);
border: 1px solid rgba(0, 0, 0, 0.8);
padding: 20px;
font-size: 30px;
text-align: center;
}
.co{

width: 900px;
margin: auto;
background-color:#FFFFFF;
border: 10px #3f0303;
box-shadow: 12px 12px 6px 6px rgba(0, 0, 255, .2);
overflow:auto;
align-items : center;
justify-content : center ;
}
